.App {
  text-align: center;
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:300px;
  margin: 5px;
}

.title-content-div{
  background-color: rgba(240, 248, 255, 0.747);
  outline: auto;
  outline-color: #acc2eb;
  height:100%;
  width: 50%;
}

.right-div{
  margin-left: 2.5px;
}

.left-div{
  margin-right: 2.5px;
}

.store-div{
  background-color: rgba(240, 248, 255, 0.747);
  outline: auto;
  outline-color: #acc2eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding-bottom: 2px;
}



button{
  background-color: rgb(125, 167, 204);
  border-radius: 5px;
  min-height: 30px;
}

button:hover{
  background-color: rgb(96, 127, 155);
}

button:disabled{
  background-color: rgb(61, 79, 95);
  color:black;
}

.warning-div{
  color:red;
  background-color: rgba(114, 1, 1, 0.171);
  outline: auto;
  padding: 2px;
  margin-top: 5px;
  font-size: large;
}
