.App {
  text-align: center;
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.store-div{
  background-color: aliceblue;
  outline: auto;
  outline-color: #acc2eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.warning-div{
  color:red;
  background-color: rgba(114, 1, 1, 0.171);
  outline: auto;
  padding: 2px;
  margin-top: 5px;
  font-size: large;
}
